In [3]:
def binning(data):
    maximum_value=max(data)
    minimum_value=min(data)
    print(maximum_value,minimum_value)
    #child,teen,adult,old
    child=[] #empty list
    teen=[]
    adult=[]
    old=[]
 
#for i in range(0,len(data)):
    for i in data:
        if i<=12:
            child.append(i)
        elif i>12 and i<20:
            teen.append(i)
        elif i>=20 and i<45:
            adult.append(i)
        elif i>=45:
            old.append(i)
    print("bin of children :",child)
    print("bin of teen:",teen)
    print("bin of adult:",adult)
    print("bin of old people:",old)
    
age=[10,2,14,23,12,46,67,30,20]
binning(age)

67 2
bin of children : [10, 2, 12]
bin of teen: [14]
bin of adult: [23, 30, 20]
bin of old people: [46, 67]

In [2]:
import matplotlib.pyplot as plt
plt.hist(age,bins=[10,15,20,25,30,40,50],color="black")
plt.xlabel("age")
plt.title("Depicting Age Of Students")
plt.show()

NameError: name 'age' is not defined

In [22]:
data=pd.read_excel("age.xlsx")

In [23]:
data

   usn name  age
0    1    A   22
1    2    B   21
2    3    C   20
3    4    D   19
4    5    E   18